*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.box, .box1{
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: relative;
    border-radius: 50%;
    margin: 10px;
    display: inline-flex;
}