*{
    box-sizing: border-box
}
nav ul{
    list-style-type: none;
    display: flex;

}
nav ul li{
    flex:1 1 0;
    text-align: center;
    position: relative;
}
nav a{
    text-align: center;
    display: block;
    padding:10px;
    color:tomato;
}
nav a:hover{
    color: white;
    background: #00707d65;
    text-decoration: none;
}
